<div calss="main users-index">
  <div class="container">

    <h1>ユーザ一覧</h1>

    <table class="table">
      <div class="index-feader">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>admin</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      </div>

      <% @users.each do |user| %>
      <div class="users-index-item">
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>

          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        </div>
        <% end %>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>
