<div calss="main users-show">
  <div class="container p-0">

    <div class="user">
      <div class="posts-index-item p-3">
        <div class="media ml-2">
          <a class="m-2">
            <img src="<%= "/user_images/#{@user.image_name}" %>" class="img-fluid rounded-circle" width="100" height="100">
          </a>
          <div class="media-body pt-3">
            <% if @current_user && (@current_user.id == @user.id || @current_user.admin) %>
            <ul class="list-group list-group-sm float-right">
              <li class="list-group-item"><%= link_to 'Edit', edit_user_path(@user) %></li>
              <li class="list-group-item"><%= link_to 'Destroy', @puser, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ml-5">
        <p class="h5 text-muted"><%= @user.name %></p>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#posts" class="nav-link active" data-toggle="tab">posts</a>
      </li>
      <li class="nav-item">
        <a href="#bookmarks" class="nav-link" data-toggle="tab">bookmarks</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="posts" class="tab-pane active">
        <table class="table">
          <% @user.posts.each do |post| %>
          <div class="posts-index-item border p-3">
            <div class="media">
              <div class="media-body">
                <%= link_to post.title, post %>
                <h6 class="mt-1">
                  <%= post.updated_at %>
                </h6>
              </div>
              <div class="m-2">
                <% post.tag_list.each do |tag| %>
                <%= link_to posts_path(tag_name: tag) do %>
                <span class="badge badge-primary mr-1 p-2"><%= tag %></span>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </table>
      </div>
      <div id="bookmarks" class="tab-pane">
        <table class="table">
          <% bookmarks = Bookmark.where(user_id: @user.id) %>
          <% bookmarks.each do |bookmark| %>
          <% post = Post.find(bookmark.post_id) %>
          <div class="posts-index-item border p-3">
            <div class="media">
              <div class="media-body">
                <%= link_to post.title, post %>
                <h6 class="mt-1">
                  <%= post.updated_at %>
                </h6>
              </div>
              <div class="m-2">
                <% post.tag_list.each do |tag| %>
                <%= link_to posts_path(tag_name: tag) do %>
                <span class="badge badge-primary mr-1 p-2"><%= tag %></span>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>
