<div calss="main posts-edit">
  <div class="container">

    <h1 class="form-heading">編集</h1>

    <% if @error_message %>
    <div class="form-error">
      <%= @error_message %>
    </div>
    <% end %>

    <%= form_with(url: "/posts/#{@post.id}",method: :patch) do %>
    <div class="form">
      <div class="form-body">
      <p>タイトル</p>
      <input name="title" value="<%= @post.title %>">
      <p>内容</p>
      <textarea name="content"><%= @post.content %></textarea>
      <p>コード</p>
      <textarea name="code"><%= @post.code %></textarea>
      <input type="submit" value="更新">
      </div>
    </div>
    <% end %>

  </div>
</div>
